.shopping-list {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #aaa;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    color: #aaa;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  
  .input {
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    padding: 10px;
    font-size: 18px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    color: #333333;
  }

  .item:hover{
   box-shadow: 0 0 4px 1px rgba(251, 251, 251, 0.8);
    /* background-color: #bf9b30; */
  }
  
  .remove-button {
    padding: 5px;
    font-size: 14px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border: none;
  }  

  .remove-button:hover{
    background-color: #bf9b30;
  }


  .shopping-list {
    margin: 20px;
    padding: 30px;
    background-color: #0C0C0C;
    color: #333333;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  
  .input {
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    padding: 5px;
    font-size: 18px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .list {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    color: #333333;
  }
  
  .remove-button {
    padding: 5px;
    font-size: 14px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  